.Diy_recipe_container{
    margin-top: 20px;
    display: flex;
    gap: 32px;
}
.Diy_container_comp{
    padding: 10px;
    width: 285px;
    height: 446px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #d7ffe3;
    margin-bottom: 60px;
    transition: transform 0.3s ease;
}
.getPic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 285px;
    height: 285px;
    background-color: #ffffff;
}