.footer{
    margin-top: 140px;
    background-color: #434343;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
}
.footer_content{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_content_left span{
    display: block;
    font-family: Montserrat;
    color: #FFF;
}
.footer_content_left :first-child{
    font-size: 34px;
    font-weight: 700;
}
.footer_content_left :nth-child(2){
    font-size: 14px;
    font-weight: 200;
}
.footer_content_right button{
    background-color: #434343;
    border: none;
}
.bottom_line{
    margin-top: 34px;
    width: 1440px;
    height: 1px;
}