#global_nav{
    position: fixed;
    top: 0px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.global_nav_container{
    display: flex;
    width: 100%; 
    max-width: 1440px; 
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}
#logo{
    color: #000;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    margin-right: 171px;
    transition: transform 0.3s ease;
}
#logo:hover{
    transform: scale(1.1);
}
.global_nav_container_content_textbtn{
    display: inline-flex;
    align-items: flex-start;
    gap: 84px;
    width: 452px;
    height: 24px;
}
.global_nav_container_content_textbtn a{
    text-decoration: none;
    cursor:grab;
}
.global_nav_container_content_textbtn a:hover {
    color: #0D7D0B;
  }
.global_nav_container_content_otherbtn{
    border: none;
    width: 231px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    gap: 44px;
}
.global_nav_container_content_otherbtn a{
    transition: transform 0.3s ease;
}
.global_nav_container_content_otherbtn a:hover {
    transform: scale(1.1);
  }
.sign_in{
   border: none;
   background-color: white;
   transition: transform 0.3s ease;
}
.sign_in:hover{
    transform: scale(1.1);
}
.profile{
    width: 34px;
    height: 34px;
    border-radius: 50px;
    border: none;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: fill;
}
.profile:hover{
    transform: scale(1.1);
}
.profileImgNav{
    width: 34px;
    height: 34px;
    border-radius: 50px;
}