.recipe_modal_wrap {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.50);
}

.recipe_modal {
    background-color: white;
    border-radius: 20px;
    width: 90%;
    max-width: 1000px;
    max-height: 800px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}
.close_recipe_modal{
    margin-bottom: 10px;
    cursor: grab;
}
.recipe_modal_body{
    width: 80%;
    margin-top: 20px;
    height: auto;
    margin-bottom: 48px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 24px;
}
.recipe_modal_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.recipe_modal_header_cont{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
}
.recipe_modal_header_cont img{
    background-color: antiquewhite;
    width: 26%;
    max-height: 240px;
    object-fit: cover;
}
.recipe_modal_header_txt{
    margin-left: 43px;
}
.recipe_modal_body_header{
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
}
.recipe_modal_body_text{
    overflow: auto;
    padding: 12px;
    margin-top: 20px;
    max-width: 500px;
    height: 40%;
    min-height: 150px;
    max-height: 140px;
    display: flex;
    justify-content: start;
    align-items: start;
    border-radius: 19px;
    background-color: #E4FFEC;
    font-size: 20px;
    font-family: Poppins;
}

.recipe_img_container_component{
    cursor: grab;
}

/*random*/
.recommandTXTContainer{
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 24px;
    width:50%
}
.recommandTXT{
    border-radius: 10px;
    padding: 14px;
    background-color: #ff6701;
    font-family: pretendard;
    color: white;
    width: 100%;
    margin-top: 0;
}
.recipe_modal_wrap_random{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.50);
}
.heart_svg:hover{
    cursor: grab;
} 



