.recipe_modal_wrap{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.50);
}
.close_recipe_modal{
    margin-bottom: 10px;
    cursor: grab;
}
.recipe_modal{
    background-color: white;
    border-radius: 20px;
    width: 1100px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 90px 50px 90px;

}
.recipe_modal_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recipe_modal_body{
    display: flex;
    justify-content: space-between;
}
.recipe_modal_header_cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipe_modal_header_cont img{
    background-color: antiquewhite;
    width: 240px;
    height: 300px;
    object-fit: cover;
}
.recipe_modal_header_txt{
    margin-left: 43px;
}
.recipe_modal_body_header{
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
}
.recipe_modal_body_text{
    overflow: auto;
    padding-left: 14px;
    padding-right: 20px;
    margin-top: 20px;
    width: 450px;
    height: 294px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 19px;
    background-color: #E4FFEC;
    font-size: 20px;
    font-family: Poppins;
}

.recipe_img_container_component{
    cursor: grab;
}