.recipe_modal_wrap{
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.50);
}
.close_recipe_modal{
    margin-bottom: 10px;
    cursor: grab;
}
.recipe_modal{
    background-color: white;
    border-radius: 20px;
    width: 1100px;
    height: 714px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px 90px 50px 90px;

}
.recipe_modal_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recipe_modal_body{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.recipe_modal_header_cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.recipe_modal_header_cont img{
    background-color: antiquewhite;
    width: 240px;
    height: 290px;
    object-fit: cover;
}
.recipe_modal_header_txt{
    margin-left: 43px;
}
.recipe_modal_body_header{
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
}
.recipe_modal_body_text{
    overflow: auto;
    padding-left: 14px;
    padding-right: 20px;
    margin-top: 20px;
    width: 450px;
    height: 294px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 19px;
    background-color: #E4FFEC;
    font-size: 20px;
    font-family: Poppins;
}

.recipe_img_container_component{
    cursor: grab;
}

/*random*/
.recommandTXTContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 24px;
}
.recommandTXT{
    border-radius: 10px;
    padding: 14px;
    background-color: #ff6701;
    font-family: pretendard;
    color: white;
    width: 480px;
    margin-top: 0;
}
.recipe_modal_wrap_random{
    display: flex;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.50);
}
.heart_svg:hover{
    cursor: grab;
} 


@media screen and (max-width: 1000px) {
    
    .recipe_modal {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        width: 80vw;
        height: auto;
        padding: 12vw 4vw;
    }
    .recipe_modal_body{
        width: 100%;
    }
    .recipe_modal_body_instruction{
        margin-left: 20px;
    }

    .recipe_modal_header_cont img {
        width: 80vw; /* 이미지 크기를 화면 너비의 80%로 조정 */
        max-width: 240px; /* 최대 너비 설정 유지 */
        height: auto;
    }

    .recipe_modal_header_cont{
        width: 100%;
        font-size: 12px;
    }
    .recipe_modal_body_text {
        font-size: 14px;
        width: 80%;
        height: 200px;
        max-width: none; /* 최대 너비 제한 해제 */
        height: 30vh; /* 텍스트 영역 높이를 화면 높이의 30%로 조정 */
    }
    .recommandTXT{
        border-radius: 10px;
        padding: 8px;
        background-color: #ff6701;
        font-size: 14px;
        width: auto;
        margin-top: 0;
    }
}