#search-form{
display: flex;
justify-content: space-between;
align-items: end;
margin-bottom: 100px;
}
#search_bar{
    padding-left: 18px;
    margin-top: 164px;
    width: 100%;
    height: 60px;
    background-color: #E4FFEC;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    font-family: Poppins;
    outline: none;
}
#search_bar:hover{
    background-color: #c9e2d0;
}
#user-input-submit{
    margin-left: 14px;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    border: none;
    display: flex;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #0D7D0B;
}
#user-input-submit:hover{
    background-color: #0b630a;
}