@import url('https://fonts.googleapis.com/css?family=Poppins:100,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700,900&display=swap');


/*@import url("다른파일.css");*/
@import url("global_nav.css");
@import url("recipe.css");
@import url("tag.css");
@import url("popular.css");
@import url("footer.css");
@import url("search_bar.css");



body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}
a{
    text-decoration: none;
    cursor:grab;
    color: black;
}
a:link {
    color : black;
  }
a:visited{
    color: black;
}
input{
    cursor:grab;
}
button{
    cursor:grab;
}
.container {
    width: 100%; 
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-width: 1441px) {
    .container {
        width: 1440px; /* 화면 너비가 1441px 이상일 때, 너비를 1440px로 고정 */
    }
}

/*modal*/
#modalWrap {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.50);
  }
  #modalWrap > svg{
    margin-bottom: 14px;
  }
  #modalBody {
    font-family: Poppins;
    width: 704px;
    height: 723px;
    padding: 55px 50px;
    margin: 0 auto;
    border-radius: 24px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
.modalBody_signup_signin{
    display: flex;
    justify-content: center;
}
.modalBody_signup_signin div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 302px;
    height: 56px;
    color: white;
    font-size: 18px;
    font-weight: 400;
}
.modalBody_signup{
    background-color: #0D7D0B;
}
.modalBody_signin{
    background-color: #CCC;
}
.modalBody_header_text{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 500;
}
.modalBody_header_text_or{
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
}
.modalBody_google{
    margin-bottom: 40px;
    display: flex;
    width: 454px;
    height: 64px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #E4FFEC;
}
.modalBody_form{
    font-size: 16px;
    font-weight: 400;
}
.modalBody_form label{
    display: block;
}
.modalBody_form_input{
    width: 454px;
    height: 56px;
    margin-bottom: 16px;
    border-radius: 12px;
    border: 1px solid rgba(102, 102, 102, 0.35);
}
.modalBody_form_submit{
    margin-top: 40px;
    display: block;
    width: 454px;
    height: 64px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: #0D7D0B;
    border-radius: 40px;
    border: none ;
}
.modalBody_signup_signuppage{
    background-color: #CCC;
}
.modalBody_signin_signuppage{
    background-color: #0D7D0B;
}

.modalBody_profile_pic{
    width: 342px;
    height: 342px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 70px;
}
.modalBody_editprofile_submit{
    margin-top: 16px;
    display: block;
    width: 454px;
    height: 64px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: #0D7D0B;
    border-radius: 40px;
    border: none ;
}
.modalBody_editprofile_submit_logout{
    margin-top: 16px;
    display: block;
    width: 454px;
    height: 64px;
    color: #0D7D0B;
    font-size: 18px;
    font-weight: 500;
    background-color: #E4FFEC;
    border-radius: 40px;
    border: none ;
}

  /*mainpage*/

.scroll{
    height: 100px;
}
.mainpage_img_container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.mainpage_img_container > img{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}
.mainpage_img_container_contents{
    min-width: 1440px;
    color: #FFF;
    font-family: Pretendard;
    position: absolute;
    top: 35%;
}
.mainpage_img_container_contents_text_big{
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 50px;
}
.mainpage_img_container_contents_text_small{
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 70px;
    display: block;
}
.mainpage_img_container_contents_text_big div{
    margin-bottom: 4px;
}
.mainpage_img_container_contents_text_small div{
    margin-bottom: 6px;
}
.mainpage_img_container_contents_search{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.39);
    background: rgba(255, 255, 255, 0.39);
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 24px;
}
.mainpage_img_container_contents_search:hover{
    background-color: rgba(255, 255, 255, 0.658);
}
.mainpage_img_container_contents_search svg{
    margin-right: 20px;
}
.recipe_header_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    font-family: Montserrat;
    margin-top: 10px;
    margin-bottom: 60px;
}
.recipe_header_text_Cocktails{
    font-size: 30px;
    font-weight: 700;
}
.recipe_header_text_SeeAll{
    font-size: 16px;
    font-weight: 600;
    color: #a5a5a5;
}
.recipe_header_text_SeeAll:hover{
    color: #0D7D0B;
}
.recipe_header_text_recipe_page{
    font-size: 30px;
    font-weight: 700;
    font-family: Montserrat;
    margin-top: 180px;
    margin-bottom: 60px;
}
.mainpage_Recipe_container{
    margin-top: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.see_more{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    transition: transform 0.3s ease;
}
.see_more:hover{
    transform: scale(1.2);
    cursor: grab;
}
.banner{
    margin-top: 130px;
    background-color: #E4FFEC;
    width: 100%;
    height: 205px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;
}
.banner_content_txt{
    margin-left: 100px;
}
.banner_content_txt :first-child{
    display: block;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.banner_content_txt :nth-child(2){
    display: block;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.banner_content_img{
    padding-bottom: 60px;
}
.banner_content_img img{
    width: 517px;
    height: 398px;
    flex-shrink: 0;
}
.header_the_6_popular{
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
}
.the_6_popular{
    margin-top: 66px;
    display: flex;
    justify-content: start;
}
.popular_content{
    margin-right: 336px;
}

/*recipe page*/

.background_pic img{
    margin-top: 100px;
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.recipe_page_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.recipe_page_header_container{
    display: flex;
    justify-content: center;
}
.recipe_page_header_txt{
    position: relative;
    right: 450px;
    display: flex;
    justify-content: center;
}
.recipe_page_header_pic>img{
    margin-right: 24px;
    width: 280px;
    height: 400px;
    object-fit: cover;
    position: relative;
    bottom: 140px;
    border-radius: 10px;
}

.recipe_page_recipe_name{
    display: block;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
}
.recipe_page_Glass_to_use{
    display: block;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.recipe_page_txt_header{
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
}
.recipe_page_txt{
    display: flex;
    justify-content: space-between;
}
.recipe_page_txt_text{
    margin-top: 40px;
    width: 600px;
    height: 390px; 
    border-radius: 14px;
    background-color: #E6F3EA;
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    
}
.recipe_page_txt_text ul{
    margin-left: 24px;
}

/*heartpage*/
.heartpage_Recipe_container{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.heart_header_text{
    margin-top: 200px;
    margin-bottom: 40px;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
}

/*quiz page*/
.quiz_container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quiz_container_form{
    display: flex; 
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 561px;
    height: 561px;
    background: #E6F3EA;
    padding-left: 100px; 
}
.quiz_container_form_h1{
    margin-bottom: 46px;
}
.question_list{
    display: flex;
    align-items: center;
    gap: 23px;
    margin-bottom: 36px;
}
.radio{
    background-color: white;
    border-radius: 50%;
    width: 29px;
    height: 29px;
}
.answer{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}
.submit_btn{
    margin-top: 14px;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    border: none;
    display: flex;
    width: 454px;
    height: 64px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    background-color: #0D7D0B;
}
.submit_btn:hover{
    background-color: #0b630a;
}