@import url('https://fonts.googleapis.com/css?family=Poppins:100,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700,900&display=swap');


/*@import url("다른파일.css");*/
@import url("global_nav.css");
@import url("recipe.css");
@import url("tag.css");
@import url("popular.css");
@import url("footer.css");
@import url("search_bar.css");
@import url("recipe_modal.css");



body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    cursor:grab;
    color: black;
}
a:link {
    color : black;
  }
a:visited{
    color: black;
}
input{
    cursor:grab;
}
button{
    cursor:grab;
}
.container {
    width: 100%; 
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-width: 1441px) {
    .container {
        width: 1440px; /* 화면 너비가 1441px 이상일 때, 너비를 1440px로 고정 */
    }
}

/*modal*/
.profileModalWrap{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.50);
}
#modalBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 600px;
    height: 800px;
    padding-bottom: 20px;
}
.modalWrap {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.50);
  }
.close_modal{
    margin-bottom: 14px;
    cursor: grab;
}
.modalBody {
    font-family: Poppins;
    padding: 55px 60px;
    margin: 0 auto;
    border-radius: 24px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modalBody_signup_signin{
    display: flex;
    justify-content: center;
}
.modalBody_signup_signin div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 302px;
    height: 56px;
    color: white;
    font-size: 18px;
    font-weight: 400;
    cursor: grab;
}
.modalBody_signup{
    background-color: #0D7D0B;
}
.modalBody_signin{
    background-color: #CCC;
}
.modalBody_header_text{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 500;
}
.modalBody_header_text_or{
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 400;
}
.modalBody_google{
    cursor: grab;
    margin-bottom: 40px;
    display: flex;
    width: 454px;
    height: 64px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #E4FFEC;
}
.modalBody_form{
    font-size: 16px;
    font-weight: 400;
}
.modalBody_form label{
    display: block;
}
.modalBody_form_input{
    width: 454px;
    height: 56px;
    margin-bottom: 16px;
    border-radius: 12px;
    border: 1px solid rgba(102, 102, 102, 0.35);
}
.modalBody_form_submit{
    margin-top: 40px;
    display: block;
    width: 454px;
    height: 64px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: #0D7D0B;
    border-radius: 40px;
    border: none ;
}
.modalBody_signup_signuppage{
    background-color: #CCC;
}
.modalBody_signin_signuppage{
    background-color: #0D7D0B;
}

.modalBody_profile_pic{
    width: 342px;
    height: 342px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 70px;
}
.modalBody_editprofile_submit{
    font-family: Poppins;
    margin-top: 16px;
    display: block;
    width: 454px;
    height: 64px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background-color: #0D7D0B;
    border-radius: 40px;
    border: none ;
}
.modalBody_editprofile_submit_logout{
    font-family: Poppins;
    margin-top: 16px;
    display: block;
    width: 454px;
    height: 64px;
    color: #0D7D0B;
    font-size: 18px;
    font-weight: 500;
    background-color: #E4FFEC;
    border-radius: 40px;
    border: none ;
}
  /*mainpage*/

.scroll{
    height: 100px;
}
.scrolling{
    height: 30px;
}
.mainpage_img_container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.mainpage_img_container > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.mainpage_img_container_contents {
    width: 1440px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    color: #FFF;
    font-family: Pretendard;
}

.mainpage_img_container_contents_text_big {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 50px;
}

.mainpage_img_container_contents_text_small {
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 70px;
    display: block;
}

.mainpage_img_container_contents_text_big div {
    margin-bottom: 4px;
}

.mainpage_img_container_contents_text_small div {
    margin-bottom: 6px;
}

.mainpage_img_container_contents_search {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.39);
    background: rgba(255, 255, 255, 0.39);
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

.mainpage_img_container_contents_search:hover {
    background-color: rgba(255, 255, 255, 0.658);
}

.mainpage_img_container_contents_search svg {
    margin-right: 20px;
}

.recipe_header_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    font-family: Montserrat;
    margin-top: 10px;
    margin-bottom: 60px;
}
.recipe_header_text_Cocktails{
    font-size: 30px;
    font-weight: 700;
}
.recipe_header_text_SeeAll{
    font-size: 16px;
    font-weight: 600;
    color: #a5a5a5;
}
.recipe_header_text_SeeAll:hover{
    color: #0D7D0B;
}
.recipe_header_text_recipe_page{
    font-size: 30px;
    font-weight: 700;
    font-family: Montserrat;
    margin-top: 180px;
    margin-bottom: 60px;
}
.mainpage_Recipe_container{
    margin-top: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@keyframes resizeAnimation {
    0% {
        transform: scale(1); /* 원래 크기 */
    }
    50% {
        transform: scale(1.4); /* 1.2배 크기로 확대 */
    }
    100% {
        transform: scale(1); /* 다시 원래 크기로 축소 */
    }
}

.see_more {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 100px;
    animation: resizeAnimation 2s infinite; /* 2초 간격으로 애니메이션 반복 */
}

.see_more:hover{
    cursor: grab;
}

.HOME_DIY_header_text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*index page - banner*/
.banner{
    margin-top: 130px;
    background-color: #E4FFEC;
    width: 100%;
    height: 205px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 110px;
}
.banner_content_txt{
    margin-left: 100px;
}
.banner_content_txt :first-child{
    display: block;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.banner_content_txt :nth-child(2){
    display: block;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.banner_content_img{
    padding-bottom: 60px;
}
.banner_content_img_src{
    width: 517px;
    height: 398px;
    flex-shrink: 0;
}
.header_the_6_popular{
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
}
.the_6_popular{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.popular_content{
}
.My-Diy{
    margin-top: 200px;
}
/*recipe page*/

.background_pic img{
    margin-top: 100px;
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.recipe_page_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.recipe_page_header_container{
    display: flex;
    justify-content: center;
}
.recipe_page_header_txt{
    position: relative;
    right: 450px;
    display: flex;
    justify-content: center;
}
.recipe_page_header_pic>img{
    margin-right: 24px;
    width: 280px;
    height: 400px;
    object-fit: cover;
    position: relative;
    bottom: 140px;
    border-radius: 10px;
}

.recipe_page_recipe_name{
    display: block;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
}
.recipe_page_Glass_to_use{
    display: block;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.recipe_page_txt_header{
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
}
.recipe_page_txt{
    display: flex;
    justify-content: space-between;
}
.recipe_page_txt_text{
    margin-top: 40px;
    width: 600px;
    height: 390px; 
    border-radius: 14px;
    background-color: #E6F3EA;
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    
}
.recipe_page_txt_text ul{
    margin-left: 24px;
}

/*heartpage*/
.heartpage_Recipe_container{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}
.heart_header_text{
    width: 100%;
    margin-top: 200px;
    margin-bottom: 40px;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
}

/*quiz page*/
.diy_container{
    margin-top: 100px;
}


/*search-page*/

#result_contain_box{
    margin-top: 90px;
    height: 446px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*seeall*/
.seeAllBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#alphabet_btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 170px;
}
#alphabet_btn button{
    width: 40px;
    height: 36px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    font-family: Poppins;
    color: #0D7D0B;
    background-color: #d7ffe3;
    margin-bottom: 24px;
}
#alphabet_btn button:hover{
    background-color: #bcfdcf;
}
.see_all_recipe_container {
    display: grid;
    align-items: center; /* 세로 정렬을 가운데로 조정합니다 */
    justify-items: center; /* 가로 정렬을 가운데로 조정합니다 */
    /* 각 요소의 최소 너비는 285px이고, 가능한한 여유 공간을 균등하게 분배합니다 */
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    grid-gap: 100px; /* 요소들 간의 간격을 조절합니다 */
    align-items: start;
    max-width: 1440px;
}
.see_all_recipe_container div{
    transition: transform 0.3s ease;
}
.see_all_recipe_container div:hover{
    cursor: grab;
    transform: scale(1.1);
}
.seeall_container{
    padding-bottom: 160px;
}

/**/
.recipe_modal_wrap_random{
    display: flex;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.50);
}
.heart_svg:hover{
    cursor: grab;
} 

/* 왼 - 오*/

.hidden{
    opacity: 1;
    filter: blur(2px);
    transform: translateX(-50%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0); 
}

/*아래 - 위*/

.hidden2{
    opacity: 1;
    filter: blur(5px);
    transform: translateY(-150%);
    transition: all 1s;
}
.show2{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0); 
}

/*cursor*/
.cursorIMG {
    display: none; 
    position:absolute;
    /* 가장 앞으로 나올 수 있는 z값 */
    z-index: 9999;
    top:0;
    left: 0;
    width: 50px;
    height: 50px;
    transform:translate(-50%, -50%);
}

.cursorIMGsrc{
    width: 50px;
    height: 50px;
}