.tag{
    background-color: #d7ffe3;
    padding: 4px 12px;
    color: #0D7D0B;
    font-size: 14px;
    font-weight: 400;
    margin-right: 12px;
    border-radius: 100px;
}
.tag:hover{
    background-color: #bcfdcf;
}