#global_nav{
    position: absolute;
    top: 0px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.);
    width: 100%;
    height: 100px;
    padding-left: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.global_nav_container{
    display: flex;
    width: 100%; 
    max-width: 1440px; 
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}
#logo{
    color: #000;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
    margin-right: 171px;
}

.global_nav_container_content_textbtn{
    display: inline-flex;
    align-items: flex-start;
    gap: 84px;
    width: 452px;
    height: 24px;
}
.global_nav_container_content_otherbtn{
    border: none;
    width: 231px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    gap: 44px;
}
#sign_in_btn{
    text-transform: uppercase;
    height: 30px;
    width: 86px;
    border-radius: 7px;
    background-color: #0D7D0B;
    color: white;
}