@import url('https://fonts.googleapis.com/css?family=Poppins:100,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,500,700,900&display=swap');


/*@import url("다른파일.css");*/
@import url("global_nav.css");
@import url("recipe.css");
@import url("tag.css");
@import url("popular.css");
@import url("footer.css");



body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    width: 100%; 
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-width: 1441px) {
    .container {
        width: 1440px; /* 화면 너비가 1441px 이상일 때, 너비를 1440px로 고정 */
    }
}
.mainpage_img_container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.mainpage_img_container > img{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
    flex-shrink: 0;
}


.mainpage_img_container_contents{
    min-width: 1440px;
    color: #FFF;
    font-family: Pretendard;
    position: absolute;
    top: 35%;
}
.mainpage_img_container_contents_text_big{
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 50px;
}
.mainpage_img_container_contents_text_small{
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 70px;
    display: block;
}
.mainpage_img_container_contents_text_big div{
    margin-bottom: 4px;
}
.mainpage_img_container_contents_text_small div{
    margin-bottom: 6px;
}
.mainpage_img_container_contents_search{
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.39);
    background: rgba(255, 255, 255, 0.39);
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 24px;
}
.mainpage_img_container_contents_search svg{
    margin-right: 20px;
}
.recipe_header_text{
    font-size: 30px;
    font-weight: 700;
    font-family: Montserrat;
    margin-top: 160px;
    margin-bottom: 60px;
}
.mainpage_Recipe_container{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.see_more{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.banner{
    margin-top: 130px;
    background-color: #E4FFEC;
    width: 100%;
    height: 205px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 140px;
}
.banner_content_txt{
    margin-left: 100px;
}
.banner_content_txt :first-child{
    display: block;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.banner_content_txt :nth-child(2){
    display: block;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.banner_content_img{
    padding-bottom: 60px;
}
.banner_content_img img{
    width: 517px;
    height: 398px;
    flex-shrink: 0;
}
.header_the_6_popular{
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 700;
}
.the_6_popular{
    margin-top: 66px;
    display: flex;
    justify-content: start;
}
.popular_content{
    margin-right: 336px;
}
}